<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>让我们在谈人生、聊理想之前，先看完这本《###==###》吧！</string>
	<string>凭我对你的了解，这本《###==###》很适合你，你怎能不读？</string>
	<string>知道你和我的差距在哪吗？看完这本《###==###》就知道了。</string>
	<string>我精挑细选才送你这本《###==###》，一定要好好研读哦！</string>
	<string>与其在别处浪费光阴，不如好好品味这本《###==###》。</string>
	<string>别让你的心灵长满枯草，请用这本《###==###》来拯救你。</string>
	<string>学无止境，送你《###==###》继续进步吧！</string>
</array>
</plist>
